<div class="text-center">
    <div class="blog-form form-add-comment">
        <form>
            <h1 class="h3 mb-3 fw-normal">Add Comment</h1>
            <div class="form-floating">
                <textarea type="textarea" class="form-control" id="post-comment" rows="10"></textarea>
                <label for="post-comment">Comment</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Add Comment</button>
        </form>
    </div>
</div>
<script src="/js/comment.js"></script>