<div class="text-center">
    <div class="form-signin">
        <form>
            <h1 class="h3 mb-3 fw-normal">Create Post</h1>
            <div class="form-floating">
                <input type="input" class="form-control" id="post-title" placeholder="name@example.com">
                <label for="post-title">Post Title</label>
            </div>
            <div class="form-floating">
                <input type="textarea" class="form-control" id="post-content" placeholder="Password">
                <label for="post-content">Post Content</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</div>