<div class="text-center">
    <div class="blog-form form-post-update">
        <form>
            <h1 class="h3 mb-3 fw-normal">Update Post</h1>
            <div class="form-floating">
                <input type="input" class="form-control" id="post-title" placeholder="name@example.com">
                <label for="post-title">Post Title</label>
            </div>
            <div class="form-floating">
                <textarea type="textarea" class="form-control" id="post-content" rows="10" value="test"></textarea>
                <label for="post-content">Post Content</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Update Post</button>
        </form>
    </div>
</div>
<script src="/js/post.js"></script>