.header-text {
    font-size: 2rem;
    font-weight: bold;
}

.header-sect {
    border-bottom: 1px solid #e5e5e5;
}

.content-section {
    margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
    color: #212529!important;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.blog-post-title:hover {
    text-decoration: none;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.blog-header-logo:hover {
    text-decoration: none;
}

hr {
    border-radius: 10px;
}

.comments-section hr {
    color: #9191916e;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row:nth-child(even) .blog-post,
.blog-form {
    background-color: rgba(226, 226, 226, 0.438);
}

.blog-form {
    padding: 2rem;
    border-radius: 2rem;
    min-height: 59vh;
}

.single-post {
    min-height: 66vh;
}

.blog-form form,
.form-register form {
    margin-bottom: 2em;
}

.form-register button {
    margin-top: 2em;
}

#post-title {
    margin-bottom: 1rem;
}

.blog-form textarea {
    min-height: 10rem;
    margin-bottom: 2em;
}

.add-comment,
.meta-actions {
    float: right;
    color: rgb(83, 83, 83);
}

.meta-actions {
    padding-left: 1rem;
}

.add-comment:hover,
.meta-actions:hover {
    color: rgb(121, 121, 121);
    text-decoration: none;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-header {
    padding: 1rem 5rem;
}
